
{
	admin off
}


localhost {

	encode gzip

	route {
		respond /caddy-alive-marker "Caddy works!"

		reverse_proxy /api/* backend-api:8000

		root * /ffun-static-data
		try_files {path} /index.html
		file_server
		}

	log

}
