volumes:
  ffun_postgresql_data: {}

networks:
  ffun_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16

x-backend-api-environment: &backend-api-environment
  FFUN_ENABLE_API_SPA: "${FFUN_ENABLE_API_SPA:-True}"
  FFUN_ENABLE_SENTRY: "${FFUN_ENABLE_SENTRY:-False}"
  FFUN_SENTRY__DSN: "${FFUN_SENTRY__DSN:-not-specified}"
  # set to /repository/feeds_collections/collections in case you want to use the default collection
  FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS: "${FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS-}"

x-backend-api: &backend-api
  image: ffun-backend-dev

  depends_on:
    postgresql:
      condition: service_healthy

  command:
    - /bin/bash
    - -c
    - |
      poetry run ffun migrate
      echo "migrations successed"
      poetry run uvicorn ffun.application.application:app --host 0.0.0.0 --port 8000 --workers 1 --reload

  volumes:
    - ${PWD}/ffun:/repository
    - ${PWD}/.env:/repository/.env
    - ${PWD}/.configs:/repository/.configs
    - ${PWD}/feeds_collections:/repository/feeds_collections

  environment:
    <<: *backend-api-environment

  networks:
    ffun_network:
        aliases:
          - backend

services:

  postgresql:
    image: postgres:15.2

    volumes:
      - type: tmpfs
        target: /var/lib/postgresql/data
        tmpfs:
          size: 2g
      # - ffun_postgresql_data:/var/lib/postgresql/data
      - ./docker/dev/postgresql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./docker/dev/postgresql/healthcheck.sh:/healthcheck.sh

    environment:
      POSTGRES_MULTIPLE_DATABASES: ffun,hydra,kratos
      # set to root because of the bug in pg_isready (?) it
      # it looks like it expect the DB name be the same as the POSTGRES_USER
      POSTGRES_DB: root
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root

    ports:
      - "5432:5432"

    networks:
      ffun_network: {}

    healthcheck:
      test: "/healthcheck.sh"
      interval: 1s
      timeout: 5s
      retries: 10

  hydra:
    image: oryd/hydra:v2.3.0

    profiles: ["multi-user"]

    depends_on:
      postgresql:
        condition: service_healthy

    entrypoint:
      - /bin/sh

    command:
      - -c
      - |
        hydra migrate sql up -e --yes
        echo "hydra migrations succeeded"
        hydra serve all --dev

    environment:
      DSN: postgres://hydra:hydra@postgresql:5432/hydra
      LOG_LEVEL: debug
      SECRETS_SYSTEM: 4dff116d-3c59-4f11-9f88-72c3f6fb8a21
      URLS_SELF_ISSUER: http://hydra:4444/
      URLS_SELF_PUBLIC: http://hydra:4444/
      URLS_LOGIN: http://frontend:80/spa/auth/login
      URLS_CONSENT: http://backend:8000/spa/auth/consent

    ports:
      - "4444:4444"
      - "4445:4445"

    networks:
      ffun_network: {}

  kratos:
    image: oryd/kratos:v1.3.1

    profiles: ["multi-user"]

    depends_on:
      postgresql:
        condition: service_healthy

    entrypoint:
      - /bin/sh

    command:
      - -c
      - |
        kratos migrate sql up -e --yes
        echo "kratos migrations succeeded"
        kratos serve --config /etc/config/kratos/kratos.yml --watch-courier

    environment:
      DSN: postgres://kratos:kratos@postgresql:5432/kratos?sslmode=disable

    volumes:
      - ./docker/dev/ory/kratos:/etc/config/kratos:ro

    networks:
      ffun_network:
        aliases:
          - kratos

  gateway-multi-user:
    image: oryd/oathkeeper:v0.40.9

    profiles: ["multi-user"]

    depends_on:
      - backend-multi-user
      - kratos

    command:
      - serve
      - --config
      - /etc/config/oathkeeper/config.yaml

    volumes:
      - ./docker/dev/ory/oathkeeper/config.yaml:/etc/config/oathkeeper/config.yaml:ro
      - ./docker/dev/ory/oathkeeper/rules.yaml:/etc/oathkeeper/rules.yaml:ro

    networks:
      ffun_network:
        aliases:
          - gateway

  gateway-single-user:
    image: alpine/socat

    profiles: ["single-user"]

    depends_on:
      - backend-single-user

    command: tcp-listen:8000,fork,reuseaddr tcp-connect:backend:8000

    networks:
      ffun_network:
        aliases:
          - gateway

  backend-build:
    image: ffun-backend-dev
    build:
      context: ./
      dockerfile: ./docker/dev/backend/Dockerfile
    command: /bin/true

    profiles:
      - dev-build

  backend-multi-user:
    <<: *backend-api
    profiles: ["multi-user"]

  backend-single-user:
    <<: *backend-api
    profiles: ["single-user"]

    environment:
      <<: *backend-api-environment
      FFUN_AUTH_FORCE_EXTERNAL_USER_ID: "dev-user"
      FFUN_AUTH_FORCE_EXTERNAL_IDENTITY_PROVIDER_ID: "single_user"

  backend-utils:
    image: ffun-backend-dev

    depends_on:
      postgresql:
        condition: service_started

    volumes:
      - ${PWD}/ffun:/repository
      - ${PWD}/.env:/repository/.env
      - ${PWD}/.configs:/repository/.configs
      - ${PWD}/tags_quality_base:/repository/tags_quality_base
      - ${PWD}/feeds_collections:/repository/feeds_collections
      - ${PWD}/changes:/repository/changes
      - ${PWD}/CHANGELOG.md:/repository/CHANGELOG.md

    environment:
      FFUN_ENABLE_SENTRY: "${FFUN_ENABLE_SENTRY:-False}"
      FFUN_SENTRY__DSN: "${FFUN_SENTRY__DSN:-not-specified}"
      # set to /repository/feeds_collections/collections in case you want to use the default collection
      FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS: "${FFUN_FEEDS_COLLECTIONS_COLLECTION_CONFIGS-}"

    networks:
      ffun_network: {}

    profiles:
      - dev

  frontend-build:
    image: ffun-frontend-dev
    build:
      context: ./
      dockerfile: ./docker/dev/frontend/Dockerfile
    command: /bin/true

    profiles:
      - dev-build

  frontend:
    image: ffun-frontend-dev

    command: "npm run dev -- --host 0.0.0.0 --port 80"

    volumes:
      - ${PWD}/site/src:/repository/src

    environment:
      VITE_FFUN_AUTH_MODE: "${FFUN_AUTH_MODE-single_user}"
      VITE_FFUN_ENABLE_SENTRY: "${FFUN_ENABLE_SENTRY:-False}"
      VITE_FFUN_SENTRY_DSN: "${FFUN_SENTRY__DSN:-not-specified}"

      VITE_FFUN_PLAUSIBLE_ENABLED: "${FFUN_PLAUSIBLE_ENABLED:-False}"
      VITE_FFUN_PLAUSIBLE_DOMAIN: "${FFUN_PLAUSIBLE_DOMAIN:-localhost}"
      VITE_FFUN_PLAUSIBLE_SCRIPT: "${FFUN_PLAUSIBLE_SCRIPT:-not-specified}"

      VITE_FFUN_TRACK_EVENTS: "true"

      VITE_FFUN_CRM_TERMS: "${FFUN_CRM_TERMS-not-specified}"
      VITE_FFUN_CRM_PRIVACY: "${FFUN_CRM_PRIVACY-not-specified}"

      VITE_FFUN_HAS_COLLECTIONS: "true"

    ports:
      - "80:80"

    networks:
      ffun_network: {}

  frontend-utils:
    image: ffun-frontend-dev

    volumes:
      - ${PWD}/site/src:/repository/src

    networks:
      ffun_network: {}
