
feeds.fun.local {
  tls internal

  @spa path /spa/*
  handle @spa {
    reverse_proxy gateway:8000 {
      header_up Host {host}
    }
  }

  handle {
		#
    reverse_proxy frontend:8000 {
      header_up Host {host}
    }
  }
}

idp.feeds.fun.local {
  tls internal

  reverse_proxy idp:8080 {
    header_up Host {host}
  }
}

# Is required by Pomerium
auth.feeds.fun.local {
  tls internal

  reverse_proxy gateway:8000 {
	header_up Host {host}
  }
}
