
x-openid-common-properties: &openid-common-properties
  session:
    secret: "84b45ebe-abcf-406e-a4e9-6e9916229c07"
  use_pkce: true
  client_id: apisix-client
  client_secret: a5tAGfAvr1A2nACmPRSlxMTJyJ6yoEuq
  discovery: http://keycloak:8080/realms/dev/.well-known/openid-configuration
  introspection_endpoint: http://keycloak:8080/realms/dev/protocol/openid-connect/token/introspect
  scope: "openid"

upstreams:
  - name: backend
    id: 1
    nodes:
      "backend:8000": 1
    type: roundrobin

routes:

  - uri: /spa/docs
    upstream_id: 1

  - uri: /spa/test
    upstream_id: 1

  - uri: /spa/login
    upstream_id: 1
    plugins:
      openid-connect:
        <<: *openid-common-properties
        unauth_action: auth
        redirect_uri: /spa/login/redirect

  - uri: /spa/api/public/*
    upstream_id: 1
    plugins:
      openid-connect:
        <<: *openid-common-properties
        unauth_action: pass

  - uri: /spa/api/private/*
    upstream_id: 1
    plugins:
      openid-connect:
        <<: *openid-common-properties
        unauth_action: deny

#END
