
x-openid-common-properties: &openid-common-properties
  #######################
  # Session configuration
  #######################
  # ATTENTION: our cookies live long and we store credentials in them.
  #            on changes in IdP configuration, those credentials can become invalid
  #            for a huge number of users, which may cause strange errors and redirects.
  #            => in case of such change,s ensure that APISIX will not see / skip old cookies
  # LOGIC: we set long cookie lifetime & shorter refresh token lifetime in IdP
  #        => active users will refresh their tokens often and will have long sessions without re-login
  #        => inactive users will have to re-login after refresh token expires
  session:
    secret: "84b45ebe-abcf-406e-a4e9-6e9916229c07"
    # Most of session cookies configs are in config.yaml
    # This settigs defines them event if it is not specified
    # => we keep keep the same values here for clarity
    cookie:
      lifetime: 31536000  # 1 year

  # The whole session_contents is required (for different functionality)
  # => keep it commented out (everything is turned on by default)
  # session_contents:

  renew_access_token_on_expiry: true
  access_token_expires_leeway: 2
  revoke_tokens_on_logout: true

  # Must not be set accoring to the current docs
  # We should monitor condfig updates:
  # this attribute may cause troubles in case APISIX will set the default time value here
  # refresh_session_interval:

  #####################################
  # OpenID Connect client configuration
  #####################################
  use_pkce: true
  client_id: gateway-client
  client_secret: a5tAGfAvr1A2nACmPRSlxMTJyJ6yoEuq
  discovery: https://idp.feeds.fun.local/realms/dev/.well-known/openid-configuration
  scope: "openid"
  logout_path: /spa/auth/logout
  post_logout_redirect_uri: https://feeds.fun.local?logged-out
  # we MUST specify HTTPS protocol here
  # because APISIX tries to use HTTP by default
  redirect_uri: https://feeds.fun.local/spa/auth/redirect

  # Turn on on prod
  # In dev env, we can not easily add Caddy root CA to APISIX because of user id mismatch
  # ssl_verify: true

  ############################################################
  # Configure headers that will be passed to upstream services
  ############################################################
  # set user info header to extract user id later,
  # after that the header will be removed
  set_userinfo_header: true
  set_access_token_header: false
  set_id_token_header: false
  set_refresh_token_header: false

x-serverless-post-function: &serverless-post-function
  phase: access
  functions:
    - |
      return function(conf, ctx)
        local cjson = require "cjson.safe"

        local raw = ngx.req.get_headers()["x-userinfo"]

        if raw then
          local raw_json = ngx.decode_base64(raw)
          local u = cjson.decode(raw_json)

          if u and u.sub then
            ngx.req.set_header("X-FFun-User-Id", u.sub)
          end

          ngx.req.clear_header("X-Userinfo")
        end

        -- static identifier for this identity provider
        ngx.req.set_header("X-FFun-Identity-Provider-Id", "primary_oidc")
      end

upstreams:
  - name: backend
    id: 1
    nodes:
      "backend:8000": 1
    type: roundrobin

routes:

  - uri: /spa/docs/*
    upstream_id: 1

  - uri: /spa/test/*
    upstream_id: 1

  - uri: /spa/api/public/*
    upstream_id: 1

  # special url to send users straight to registration
  - uri: /spa/auth/join
    upstream_id: 1
    plugins:
      serverless-post-function:
        <<: *serverless-post-function

      openid-connect:
        <<: *openid-common-properties
        unauth_action: auth
        authorization_params:
          prompt: create

  # this path is too specific to hide it under /spa/auth/*
  - uri: /spa/auth/redirect
    upstream_id: 1
    plugins:
      serverless-post-function:
        <<: *serverless-post-function

      openid-connect:
        <<: *openid-common-properties
        unauth_action: auth

      # in some cases /spa/auth/redirect may return 500 errors
      # Examples:
      # - accessing with invalid session cookie
      # - login, follow chain of redirects, push "back" button in browser
      #   (apixis see old auth creds in cookie, fails to validate them, returns 500)
      # So we hide such errors behind redirect to home page
      # should work for the most cases
      response-rewrite:
        vars:
          - ["status", "==", 500]
          - ["request_method", "==", "GET"]
        status_code: 302
        headers:
          Location: "/"
        body: ""

  - uri: /spa/auth/*
    upstream_id: 1
    plugins:
      serverless-post-function:
        <<: *serverless-post-function

      openid-connect:
        <<: *openid-common-properties
        unauth_action: auth

  - uri: /spa/api/private/*
    upstream_id: 1
    plugins:
      serverless-post-function:
        <<: *serverless-post-function

      openid-connect:
        <<: *openid-common-properties
        unauth_action: deny

#END
