- id: spa-public
  match:
    url: http://<[^:]+(:\d+)?>/spa/api/public/<.*>
    methods:
      - GET
      - POST
      - OPTIONS
  authenticators:
    - handler: anonymous
    # - handler: cookie_session
    #   config:
    #     check_session_url: http://kratos:4433/sessions/whoami
    #     preserve_path: true
    #     subject_from_session: identity.id
  authorizer:
    handler: allow
  mutators:
    - handler: header
      config:
        headers:
          X-FFun-User-Id: "{{ if .Session }}{{ print .Session.Identity.ID }}{{ end }}"
          X-FFun-Identity-Provider-Id: "{{ if .Session }}primary_oidc{{ end }}"
  upstream:
    url: http://backend:8000

- id: spa-private
  match:
    url: http://<[^:]+(:\d+)?>/spa/api/private/<.*>
    methods:
      - GET
      - POST
  authenticators:
    - handler: cookie_session
      config:
        check_session_url: http://kratos:4433/sessions/whoami
        preserve_path: true
        subject_from_session: identity.id
  authorizer:
    handler: allow
  mutators:
    - handler: header
      config:
        headers:
          X-FFun-User-Id: "{{ print .Session.Identity.ID }}"
          X-FFun-Identity-Provider-Id: "primary_oidc"
  upstream:
    url: http://backend:8000

- id: spa-docs
  match:
    url: http://<[^:]+(:\d+)?>/spa/docs/<.*>
    methods:
      - GET
  authenticators:
    - handler: anonymous
  authorizer:
    handler: allow
  mutators:
    - handler: noop
  upstream:
    url: http://backend:8000

- id: spa-test
  match:
    url: http://<[^:]+(:\d+)?>/spa/test/<.*>
    methods:
      - GET
      - POST
  authenticators:
    - handler: anonymous
  authorizer:
    handler: allow
  mutators:
    - handler: noop
  upstream:
    url: http://backend:8000
