
skip_provider_button = true

email_domains = [
    "*"
]

custom_templates_dir = "/etc/oauth2-proxy/templates"

## skip SSL checking for HTTPS requests
# ssl_insecure_skip_verify = false


## Cookie Settings
## Name     - the cookie name
## Secret   - the seed string for secure cookies; should be 16, 24, or 32 bytes
##            for use with an AES cipher when cookie_refresh or pass_access_token
##            is set
## Domain   - (optional) cookie domain to force cookies to (ie: .yourcompany.com)
## Expire   - (duration) expire timeframe for cookie
## Refresh  - (duration) refresh the cookie when duration has elapsed after cookie was initially set.
##            Should be less than cookie_expire; set to 0 to disable.
##            On refresh, OAuth token is re-validated.
##            (ie: 1h means tokens are refreshed on request 1hr+ after it was set)
## Secure   - secure cookies are only sent by the browser of a HTTPS connection (recommended)
## HttpOnly - httponly cookies are not readable by javascript (recommended)
cookie_name = "ffun_session"
cookie_secret = "84b45ebeabcf406ea4e96e9916229c07"
cookie_domains = "feeds.fun.local"
cookie_expire = "168h"  # TODO:
cookie_refresh = "1h"  # TODO
cookie_secure = true
cookie_httponly = true

# TODO: it seems CSRF cookie is active