# Pomerium configuration for local development gateway
shared_secret: "6tYQ+AXnuvT00og6E/GfdCdoL1P5X7znYcLyy2DcabU="
cookie_secret: "8xGbtqx2+idYvNTV4DPyA+ByFUiW1e8dgCymiaMBIB8="

address: ":8000"
grpc_address: ":7443"
metrics_address: ":9090"

insecure_server: true
insecure_http_allow_http: true

services:
  - proxy
  - authenticate
  - authorize

authenticate_service_url: http://feeds.fun.local:8000

idp_provider: keycloak
idp_provider_url: http://feeds.fun.local/realms/dev
idp_client_id: gateway-client
idp_client_secret: a5tAGfAvr1A2nACmPRSlxMTJyJ6yoEuq
idp_scopes:
  - openid

policy:
  - name: SPA Docs
    from: http://feeds.fun.local
    to: http://backend:8000
    prefix: /spa/docs/
    allow_public_unauthenticated_access: true
    set_request_headers: &request_headers
      X-FFun-Identity-Provider-Id: primary_oidc
      X-FFun-User-Id: "{{claim.sub}}"
  - name: SPA Test
    from: http://feeds.fun.local
    to: http://backend:8000
    prefix: /spa/test/
    allow_public_unauthenticated_access: true
    set_request_headers: *request_headers
  - name: SPA Auth Join
    from: http://feeds.fun.local
    to: http://backend:8000
    prefix: /spa/auth/join
    force_authentication: true
    allow_any_authenticated_user: true
    idp_prompt: create
    set_request_headers: *request_headers
  - name: SPA Auth Redirect
    from: http://feeds.fun.local
    to: http://backend:8000
    prefix: /spa/auth/redirect
    force_authentication: true
    allow_any_authenticated_user: true
    set_request_headers: *request_headers
  - name: SPA Auth Paths
    from: http://feeds.fun.local
    to: http://backend:8000
    prefix: /spa/auth/
    force_authentication: true
    allow_any_authenticated_user: true
    set_request_headers: *request_headers
  - name: SPA API Public
    from: http://feeds.fun.local
    to: http://backend:8000
    prefix: /spa/api/public/
    allow_public_unauthenticated_access: true
    set_request_headers: *request_headers
  - name: SPA API Private
    from: http://feeds.fun.local
    to: http://backend:8000
    prefix: /spa/api/private/
    allow_any_authenticated_user: true
    set_request_headers: *request_headers
