name: code checks
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      branch_ref:
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.branch_ref }}
  cancel-in-progress: true

jobs:

  run-dev-checks:
    timeout-minutes: 20
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch_ref }}

      - name: Pull containers
        # postgresql is dependency of backend-utils
        run: docker compose pull postgresql

      - name: Build containers
        run: ./bin/build-dev-containers.sh

      - name: Check code formatting
        run: ./bin/dev-check-formatting.sh

      - name: Check types
        run: ./bin/dev-check-semantics.sh

      - name: Check code spelling
        run: ./bin/check-code-spelling.sh

      - name: Run backend tests
        run: ./bin/backend-tests.sh

      - name: Run frontend tests
        run: ./bin/frontend-tests.sh

  run-prod-checks:
    timeout-minutes: 20
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch_ref }}

      - name: check ffun cli is runnable in prod
        run: ./bin/dev-check-runtime.sh
